<h1>Invoice: <%= @invoice.name %>  |  <%= @invoice.invoice %></h1>

<p><%= link_to "Edit", edit_invoice_path(@invoice) %> | <%= link_to "Back to Invoices", invoices_path %></p>
<br>
Advanced Search:
<div class="new-search">
  <%= render 'searches/form_group', search: Search.new %>
</div>
<br>
New Item:
<div class="new-item">
  <%= render 'items/form_group', item: Item.new, invoice: @invoice %>
</div>

<table class="table table-striped table-hover">
  <thead>
    <th>Item</th>
  </thead>
  <tbody class="js-items">
    <%= render @invoice.items.all.order(:sku) %>
  </tbody>
</table>
