<h1>Invoices#show</h1>

<p>Invoice#: <%= @invoice.invoice %> |Invoice name: <%= @invoice.name %> | <%= link_to "Edit", edit_invoice_path(@invoice) %> | <%= link_to "Back to Invoices", invoices_path %></p>

<div class="new-item">
  <%= render 'items/form_group', item: Item.new, invoice: @invoice %>
</div>

<table class="table">
  <thead>
    <th>Sku</th>
    <th>Item</th>
    <th>Retail</th>
  </thead>
  <tbody class="js-items">
    <%= render @invoice.items %>
  </tbody>
</table>
