<p id="notice"><%= notice %></p>

<h1>Listing Dimension Types</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @leafing_types.each do |leafing_type| %>
      <tr>
        <td><%= leafing_type.name %></td>
        <td><%= link_to 'Show', leafing_type %></td>
        <td><%= link_to 'Edit', edit_leafing_type_path(leafing_type) %></td>
        <td><%= link_to 'Destroy', leafing_type, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Dimension type', new_leafing_type_path %>
