<p id="notice"><%= notice %></p>

<h1>Listing Reserve Types</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @reserve_types.each do |reserve_type| %>
      <tr>
        <td><%= reserve_type.name %></td>
        <td><%= link_to 'Show', reserve_type %></td>
        <td><%= link_to 'Edit', edit_reserve_type_path(reserve_type) %></td>
        <td><%= link_to 'Destroy', reserve_type, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Reserve type', new_reserve_type_path %>
