<p id="notice"><%= notice %></p>

<h1>Listing Mounting Types</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @mounting_types.each do |mounting_type| %>
      <tr>
        <td><%= mounting_type.name %></td>
        <td><%= link_to 'Show', mounting_type %></td>
        <td><%= link_to 'Edit', edit_mounting_type_path(mounting_type) %></td>
        <td><%= link_to 'Destroy', mounting_type, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Mounting type', new_mounting_type_path %>
