<%= form_for @search, :html => {:id => 'search_form'} do |f| %>
  <%= render "items/hidden", f: f %>

  <script type="text/javascript">
    function submitform(){
      $('#redirect_location').val(':edit');
      $('#search_form').submit();
    }
  </script>

  <div class="field">
    <%= f.label :artist_name %><br>
    <%= f.collection_select( :artist_id, Artist.all, :id, :last_name_first, prompt: "- Artist -", include_blank: true) %>
  </div>

  <div class="field">
    <%= f.label :title %><br>
    <%= f.text_field :title %>
  </div>

  <%= render "items/properties", parent: @search, f: f %>
  <%= f.submit "Search" %>
    <%# if params[:action] == 'edit' %>
    <%# end %>
<% end %>
