<%= form_for [@invoice, @item], :html => {:id => 'item_form'} do |f| %>
  <%= f.hidden_field :item_type_id %>
  <%= f.hidden_field :mounting_type_id %>
  <%= f.hidden_field :substrate_type_id %>
  <%= f.hidden_field :certificate_type_id %>
  <%= f.hidden_field :signature_type_id %>
  <%= hidden_field_tag :redirect_location %>

  <script type="text/javascript">
    function submitform(){
      $('#redirect_location').val(':edit');
      $('#item_form').submit();
    }
  </script>

  <script type="text/javascript">
    function reload(){
      var item_type_id = $('#selectItemtype').val();
      $('#item_item_type_id').val('item_type_id');
      //set @item.item_type_id =
    }
  </script>

  <div class="row">
    <div class="col-xs-3">
      <div class="field">
        <%= f.label :sku %><br>
        <%= f.text_field :sku %>
      </div>
    </div>

    <div class="col-xs-3">
      <div class="field">
        <%= f.label :title %><br>
        <%= f.text_field :title %>
      </div>
    </div>

    <div class="col-xs-3">
      <div class="field">
        <%= f.label :retail %><br>
        <%= f.text_field :retail %>
      </div>
    </div>
  </div>

  <div class="field">
    <%= f.label :artist_name %><br>
    <%= f.collection_select( :artist_ids, Artist.all, :id, :full_name, include_blank: true) %>
    <%#= link_to_add_fields "Add Artist", f, :artists %>
  </div>

  <div class="field">
    <%= f.label :image_width %><br>
    <%= f.text_field :image_width %>
  </div>

  <div class="field dimensions">
    <%= f.label :image_height %><br>
    <%= f.text_field :image_height %>
  </div>

  <%= f.fields_for :properties, OpenStruct.new(@item.properties) do |builder| %>
    <%= f.label :select_item_type %><br>
    <%= f.collection_select :item_type_id, ItemType.all, :id, :name, {}, onchange: 'submitform()' %><br>
    <% @item.item_type.fields.each do |field| %>
      <%= render "items/fields/#{field.field_type}", field: field, f: builder %>
    <% end %>

    <%= f.label :select_mounting %><br>
    <%= f.collection_select :mounting_type_id, MountingType.all, :id, :name, {}, onchange: 'submitform()' %><br>
    <% @item.mounting_type.fields.each do |field| %>
      <%= render "items/fields/#{field.field_type}", field: field, f: builder %>
    <% end %>

    <%= f.label :select_substrate %><br>
    <%= f.collection_select :substrate_type_id, SubstrateType.all, :id, :name, {}, onchange: 'submitform()' %><br>
    <% @item.substrate_type.fields.each do |field| %>
      <%= render "items/fields/#{field.field_type}", field: field, f: builder %>
    <% end %>

    <%= f.label :select_signature %><br>
    <%= f.collection_select :signature_type_id, SignatureType.all, :id, :name, {}, onchange: 'submitform()' %><br>
    <% @item.signature_type.fields.each do |field| %>
      <%= render "items/fields/#{field.field_type}", field: field, f: builder %>
    <% end %>

    <%= f.label :select_certificate %><br>
    <%= f.collection_select :certificate_type_id, CertificateType.all, :id, :name, {}, onchange: 'submitform()' %><br>
      <% @item.certificate_type.fields.each do |field| %>
        <%= render "items/fields/#{field.field_type}", field: field, f: builder %>
      <% end %>
    <% end %>

  <%= f.submit "Save" %>

<% end %>
