<%= form_for(@item, :html => {:id => 'item_form'}) do |f| %>

  <%= f.hidden_field :item_type_id %>
  <%= f.hidden_field :mounting_type_id %>
  <%= f.hidden_field :substrate_type_id %>
  <%= f.hidden_field :certificate_type_id %>
  <%= f.hidden_field :signature_type_id %>

  <%= hidden_field_tag :redirect_location %>
  <!-- <input style="display:none;" id="redirect_location", name="redirect_location", value="" /> -->

  <div class="field">
    <%#= f.label :artist_name %><br>
    <%#= f.collection_select :artist_items, Artist.all, :id, :last_name_first, include_blank: true %>
  </div>

  <div class="field">
  <%#= f.fields_for :artist_items do |form| %>
    <%#= form.label :artist_id, "here" %>
    <%#= form.collection_select :artist_id, Artist.all, :id, :last_name_first, include_blank: true %>
  <%# end %>
  </div>

  <!-- <div class="field">
    <%#= f.label :name %><br>
    <%#= f.collection_select :signature_type_id, SignatureType.all, :id, :name, {}, onchange: ("$('#item_form').submit()") %>
    <%#= f.collection_select :signature_type_id, SignatureType.all, :id, :name, {}, onchange: 'submitform()' %>
    <%#= f.collection_select :signature_type_id, SignatureType.all, :id, :name, {}, onchange: 'getfields()', id: 'signatureSelect' %>
  </div> -->

  <!--doesn't work -->
  <div class="field">
    <%#= f.fields_for :artist_items_attributes do |artist_items_fields| %>
      <%#= artist_items_fields.label :artist_id, "Select Artist" %>
      <%#= artist_items_fields.collection_select :artist_items, Artist.all, :id, :last_name_first, include_blank: true %>
    <%# end %>
  </div>

  <!--works as checkbox -->
  <div class="field">
    <%#= Artist.find_each do |artist| %>
      <%#= check_box_tag "item[artist_ids][]", artist.id, @item.artist_ids.include?(artist.id) %>
      <%#= artist.full_name %><br>
      <%#= artist_items_fields.collection_select :artist_items, Artist.all, :id, :last_name_first, include_blank: true %>
    <%# end %>
  </div>

  <!--works as dropdown -->
  <div class="field">
    <%# artists_array =  Artist.all.map { |artist| [artist.full_name, artist.id]} %>
    <%#= f.select :artist_ids, options_for_select(artists_array) %>
    <%#= f.collection_select "item[artist_ids][]", Artist.all, :id, :last_name_first, include_blank: true %>
  </div>

  <!--works as dropdown: most simplified version-->
  <!--next: how do you access associated attributes?-->
  <div class="field">
    <%= f.collection_select( :artist_ids, Artist.all, :id, :full_name, include_blank: true) %>
  </div>

  <div class="field">
    <%= f.collection_select( :title_ids, Title.all, :id, :title, include_blank: true) %>
  </div>



  <script type="text/javascript">
    function submitform(){
      $('#redirect_location').val(':edit');
      $('#item_form').submit();
    }
  </script>

  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>

  <div class="field">
    <%= f.label :image_width %><br>
    <%= f.text_field :image_width %>
  </div>

  <div class="field">
    <%= f.label :image_height %><br>
    <%= f.text_field :image_height %>
  </div>

  <%= f.fields_for :properties, OpenStruct.new(@item.properties) do |builder| %>
    <% @item.item_type.fields.each do |field| %>
      <%= render "items/fields/#{field.field_type}", field: field, f: builder %>
    <% end %>

    <%= f.label :select_mounting %><br>
    <%= f.collection_select :mounting_type_id, MountingType.all, :id, :name, {}, onchange: 'submitform()' %><br>
    <% @item.mounting_type.fields.each do |field| %>
      <%= render "items/fields/#{field.field_type}", field: field, f: builder %>
    <% end %>

    <%= f.label :select_substrate %><br>
    <%= f.collection_select :substrate_type_id, SubstrateType.all, :id, :name, {}, onchange: 'submitform()' %><br>
    <% @item.substrate_type.fields.each do |field| %>
      <%= render "items/fields/#{field.field_type}", field: field, f: builder %>
    <% end %>

    <%= f.label :select_signature %><br>
    <%= f.collection_select :signature_type_id, SignatureType.all, :id, :name, {}, onchange: 'submitform()' %><br>
    <% @item.signature_type.fields.each do |field| %>
      <%= render "items/fields/#{field.field_type}", field: field, f: builder %>
    <% end %>

    <%= f.label :select_certificate %><br>
    <%= f.collection_select :certificate_type_id, CertificateType.all, :id, :name, {}, onchange: 'submitform()' %><br>
      <% @item.certificate_type.fields.each do |field| %>
        <%= render "items/fields/#{field.field_type}", field: field, f: builder %>
      <% end %>
  <% end %>



  <%#= @item.signature_type.name %>
  <%= f.submit "Save" %>
<% end %>
