<%= form_for [@invoice, @item], :html => {:id => 'item_form'} do |f| %>

  <%= render "items/hidden", f: f %>

  <script type="text/javascript">
    function submitform(){
      $('#redirect_location').val(':edit');
      $('#item_form').submit();
    }
  </script>

  <script type="text/javascript">
    function reload(){
      var item_type_id = $('#selectItemtype').val();
      $('#item_item_type_id').val('item_type_id');
    }
  </script>

  <div class="row">
    <div class="col-md-2">
      <%= f.label :sku %><br>
      <%= f.text_field :sku %>
    </div>
    <div class="col-md-2">
      <%= f.label :title %><br>
      <%= f.text_field :title %>
    </div>
    <div class="col-md-2">
      <%= f.label :retail %><br>
      <%= f.text_field :retail %>
    </div>
    <div class="col-md-2">
      <%= f.label :artist_name %><br>
      <%= f.collection_select( :artist_ids, Artist.all.order(:last_name), :id, :last_name_first, prompt: "- Artist -", include_blank: true) %>
    </div>
    <!-- Or create artist: -->
    <%#= f.text_field :first_name %> <%#= f.text_field :last_name %>
  </div><br>

  <%= render "items/properties", parent: @item, f: f %>
  <%= f.submit "Save" %>

<% end %>
