<%= form_for [@invoice, @item], :html => {:id => 'item_form'} do |f| %>
  <%= render "items/hidden", f: f %>

  <script type="text/javascript">
    function submitform(){
      $('#redirect_location').val(':edit');
      $('#item_form').submit();
    }
  </script>

  <script type="text/javascript">
    function reload(){
      var item_type_id = $('#selectItemtype').val();
      $('#item_item_type_id').val('item_type_id');
    }
  </script>

  <div class="row">
    <div class="col-xs-3">
      <div class="field">
        <%= f.label :sku %><br>
        <%= f.text_field :sku %>
      </div>
    </div>

    <div class="col-xs-3">
      <div class="field">
        <%= f.label :title %><br>
        <%= f.text_field :title %>
      </div>
    </div>

    <div class="col-xs-3">
      <div class="field">
        <%= f.label :retail %><br>
        <%= f.text_field :retail %>
      </div>
    </div>
  </div>

  <div class="field">
    <%= f.label :artist_name %><br>
    <%= f.collection_select( :artist_ids, Artist.all, :id, :full_name, prompt: "- Artist -") %>
  </div>

  <%= render "items/properties", parent: @item, f: f %>
  <%= f.submit "Save" %>
<% end %>
