<%= form_for(@item, :html => {:id => 'item_form'}) do |f| %>

  <%= f.hidden_field :item_type_id %>
  <%= f.hidden_field :mounting_type_id %>
  <%= f.hidden_field :certificate_type_id %>
  <%= f.hidden_field :signature_type_id %>

  <div class="field">
    <%= f.label :artist_name %><br>
    <%= f.collection_select :artist_id, Artist.all, :id, :last_name_first, include_blank: true %>
  </div>

  <div class="field">
    <%= f.label :name %><br>
    <%= f.collection_select :signature_type_id, SignatureType.all, :id, :name, {}, onchange: ("$('#item_form').submit()") %>
    <%#= f.collection_select :signature_type_id, SignatureType.all, :id, :name, {}, onchange: 'getfields()', id: 'signatureSelect' %>
  </div>

  <script type="text/javascript">
    function getfields() {
      var sig_id = $('#signatureSelect').val();
      alert(sig_id);
      /*$.ajax({
        url: "/update_signature",
        type: "POST",
        data: { signature_type_id: sig_id }
      })*/
    }
  </script>

  <!--  -->

  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>

  <%= f.fields_for :properties, OpenStruct.new(@item.properties) do |builder| %>
    <% @item.item_type.fields.each do |field| %>
      <%= render "items/fields/#{field.field_type}", field: field, f: builder %>
    <% end %>

    <% @item.mounting_type.fields.each do |field| %>
      <%= render "items/fields/#{field.field_type}", field: field, f: builder %>
    <% end %>

    <% if @item.certificate_type_id? %>
      <% @item.certificate_type.fields.each do |field| %>
        <%= render "items/fields/#{field.field_type}", field: field, f: builder %>
      <% end %>
    <% end %>


  <% end %>


  <%#= @item.certificate_type.name %> </br>
  <%= @item.signature_type.name %> </br>
  <%= f.submit "Save" %>
<% end %>
