<%= form_for @item do |f| %>

  <%= f.hidden_field :item_type_id %>

  <div class="field">
    <%= f.label :artist_name %><br>
    <%= f.collection_select :artist_id, Artist.all, :id, :last_name_first, include_blank: true %>
  </div>

  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>

  <%= f.fields_for :properties, OpenStruct.new(@item.properties) do |builder| %>
    <% @item.item_type.fields.each do |field| %>
      <%= render "items/fields/#{field.field_type}", field: field, f: builder %>
    <% end %>
  <% end %>
  <%= f.submit "Save" %>
<% end %>
