<br>
<div class="row">
  <!-- <div class="col-md-12"> -->
    <div class="btn-toolbar" role="toolbar" aria-label="Toolbar with button groups">
      <div class="btn-group mr-2" role="group" aria-label="First group">
        <button type="button" class="btn btn-info"><%= item.sku %></button>
        <button type="button" class="btn btn-info"><%= item_title(item) %></button>
        <button type="button" class="btn btn-info"><%= retail(item) %></button>
      </div>
      <div class="btn-group mr-2" role="group" aria-label="Second group">
        <button type="button" class="btn btn-info">width</button>
        <button type="button" class="btn btn-info">height</button>
      </div>
      <div class="btn-group" role="group" aria-label="Third group">
        <button type="button" class="btn btn-info">Tagline</button>
        <button type="button" class="btn btn-info">Property room</button>
        <button type="button" class="btn btn-info">Description</button>
      </div>
    <!-- </div> -->
  </div>
<div class="row">
  <div class="col-md-1">
    <%= link_to item_sku(item), edit_invoice_item_path(item.invoice, item) %>
  </div>
  <div class="col-md-11">
    <%= descripton_pr(item) %>
  </div>
</div>
