<%= content_tag :div, class: 'media', id: "item-#{item.id}" do %>
  <div class="media">
    <div class="media-body">
      <h4 class="media-heading">
        <%= item_title(item) %>
      </h4>
      <div>
        <%= build_tagline(item) %><br>
        <%= descripton_pr(item) %><br>
        <%= build_description(item) %>
      </div>
   </div>
 </div>
<% end %>
