<%= content_tag :div, class: 'media', id: "item-#{item.id}" do %>
  <div>
    <p><%= item.hashed_item_values[0] %></p>
    <p><%= item.hashed_item_values[1] %></p>
    <p><%= item.hashed_item_values[2] %></p>
    <p><%= flat_dim_list %></p>
   </div>
<% end %>
