<h1>Items#index</h1>

<% if @items.empty? %>
  <p><strong>No Items</strong></p>
<% end %>

<p>
  Download:
  <%= link_to "CSV", items_path(format: "csv") %> |
  <%= link_to "Excel", items_path(format: "xls") %>
</p>

<% @items.each do |item| %>
<div class="item">
  <h2><%= item.name %></h2><br>
  <%= items_format(item) %>
  <%= item.artists.try(:full_name) %>
  <%#= item.properties.try(:values) %>
  <%= link_to 'show', item_path(item) %>
  <%= link_to 'Edit', edit_item_path(item) %>
  <%= link_to 'Delete', item, method: :delete %>
</div>
<% end %>

<p><%= link_to "Advanced Search", new_search_path %></p>

<%= form_tag new_search_path, method: :get do %>
  <%= select_tag :item_type_id, options_from_collection_for_select(ItemType.all, :id, :name) %>
  <%= submit_tag "New Search", name: nil %>
<% end %><br>

<%= form_tag new_item_path, method: :get do %>
  <%= select_tag :item_type_id, options_from_collection_for_select(ItemType.all, :id, :name) %>
  <%= select_tag :mounting_type_id, options_from_collection_for_select(MountingType.all, :id, :name) %>
  <%= select_tag :substrate_type_id, options_from_collection_for_select(SubstrateType.all, :id, :name) %>
  <%= select_tag :signature_type_id, options_from_collection_for_select(SignatureType.all, :id, :name) %>
  <%= select_tag :certificate_type_id, options_from_collection_for_select(CertificateType.all, :id, :name) %>
  <%= submit_tag "New Item", name: nil %>
<% end %>

<br>

<table class="table">
  <thead>
    <th>ID</th>
    <th>Title</th>
    <th>Properties</th>
  </thead>

  <tbody>
    <!-- in order to return without object, remove "=" from <%= -->
    <% @items.each do |item| %>
      <tr>
        <td><%= item.id %></td>
        <td><%= item.title %></td>
        <td><%= item.properties %></td>
      </tr>
    <% end %>
  </tbody>
</table>
