<h1>Items#index</h1>

<% if @items.empty? %>
  <p><strong>No Items</strong></p>
<% end %>


<% @items.each do |item| %>
<div class="item">
  <h2><%= item.name %></h2><br>
  <%#= item.item_type.name %>
  <%= items_format(item, item.item_type.name, item.properties) %>
  <%= item.artist.try(:full_name) %>
  <%#= item.properties.try(:values) %>
  <%= link_to 'Edit', edit_item_path(item) %>
  <%= link_to 'Delete', item, method: :delete %>
</div>
<% end %>

<p><%= link_to "Advanced Search", new_search_path %></p>

<%= form_tag new_search_path, method: :get do %>
  <%= select_tag :item_type_id, options_from_collection_for_select(ItemType.all, :id, :name) %>
  <%= submit_tag "New Search", name: nil %>
<% end %>

<%= form_tag new_item_path, method: :get do %>
  <%= select_tag :item_type_id, options_from_collection_for_select(ItemType.all, :id, :name) %>
  <%= select_tag :mounting_type_id, options_from_collection_for_select(MountingType.all, :id, :name) %>
  <%= select_tag :substrate_type_id, options_from_collection_for_select(SubstrateType.all, :id, :name) %>
  <%= select_tag :signature_type_id, options_from_collection_for_select(SignatureType.all, :id, :name) %>
  <%#= select_tag :certificate_type_id, options_from_collection_for_select(CertificateType.all, :id, :name) %>
  <%= submit_tag "New Item", name: nil %>
<% end %>
