<h1>Items#show</h1>
<h2><%= @item.sku %></h2>
<br>
<%= link_to "Back to Inv: #{@item.invoice.invoice}", invoice_path(@item.invoice) %>
<br>
<p>Tagline:</p>
<p><%= tagline(@item) %></p>
<p>Property Room:</p>
<p><%= prop_room(@item) %></p>
<p>Description:</p>
<p><%= build_description(@item) %></p>

<p><%#= render 'items/sku_form', invoice: @invoice, item: @item %></p>
<p><%= render 'items/sku_form', invoice: @invoice, item: @item%></p>
<p>
  <%= link_to "Edit sku", edit_item_path(@item) %> |
  <%= link_to "Back to invoice", invoice_path(@item.invoice) %>
</p>

<p><%= link_to prev_next(@item)[0].sku, invoice_item_path(@item.invoice, prev_next(@item)[0]) %> | <%= link_to prev_next(@item)[1].sku, invoice_item_path(@item.invoice, prev_next(@item)[1]) %></p>
