<h1>Items#show</h1>
<h2><%= @item.sku %></h2>
<br>
<%= link_to "Back to Inv: #{@item.invoice.invoice}", invoice_path(@item.invoice) %>
<br>
<p>Tagline:</p>
<p><%= build_tagline(@item) %></p>
<p>Property Room:</p>
<p><%= descripton_pr(@item) %></p>
<p>Description:</p>
<p><%= build_description(@item) %></p>

<p><%= render 'items/sku_form', item: @item, invoice: @invoice %></p>
<p>
  <%= link_to "Edit sku", edit_item_path(@item) %> |
  <%= link_to "Back to invoice", invoice_path(@item.invoice) %>
</p>
