<h1>Value Categories#index</h1>

<% if @categories.empty? %>
  <p><strong>No Categories</strong></p>
<% end %>

<h2>Export Categories</h2>
<p>
  Download:
  <%= link_to "CSV", categories_path(format: "csv") %> |
  <%= link_to "Excel", categories_path(format: "xls") %>
</p>

<h2>Import Categories</h2>
<%= form_tag import_categories_path, multipart: true do %>
  <%= file_field_tag :file %>
  <%= submit_tag "Import" %>
<% end %>

<table class="table">
  <thead>
    <th>ID</th>
    <th>Name</th>
    <th>Kind</th>
    <th>Sort</th>
  </thead>

  <tbody>
    <% @categories.each do |category| %>
      <tr>
        <td><%= category.id %></td>
        <td><%= category.name %></td>
        <td><%= category.kind %></td>
        <td><%= category.sort %></td>
        <!-- <td><%#= link_to " ", category_path(category, category: {sort: category.sort + 1}), class: 'glyphicon glyphicon-chevron-up', method: :put %></td> -->
      </tr>
    <% end %>
  </tbody>
</table>
