<%= form_for(@substrate_type) do |f| %>

  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>

  <!-- loop through each field -->
  <%= f.fields_for :fields do |builder| %>
    <!-- for each field, render field partial
    we're generating fields to make other fields -->
    <%= render 'item_types/field_fields', f: builder %>
  <% end %>

  <!-- this is a helper method for adding more fields  -->
  <%= link_to_add_fields "Add Field", f, :fields %>
  <%= f.submit "Save!" %>
<% end %>
