<!DOCTYPE html>
<html>
<head>
  <title>Hstore</title>
  <%#= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div class="container">
    <div class="btn-group" role="group" aria-label="Button group with nested dropdown">
      <button type="button" class="btn btn-secondary"><%= link_to "Invoice index", root_path %></button>

      <div class="btn-group" role="group">
        <button id="btnGroupDrop1" type="button" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Build Items
        </button>
        <div class="dropdown-menu" aria-labelledby="btnGroupDrop1">
          <a class="dropdown-item" href="#"><%= link_to "New item type", new_item_type_path %></a><br>
          <a class="dropdown-item" href="#"><%= link_to "New dimension type", new_dimension_type_path %></a><br>
          <a class="dropdown-item" href="#"><%= link_to "New substrate type", new_substrate_type_path %></a><br>
          <a class="dropdown-item" href="#"><%= link_to "New edition type", new_edition_type_path %></a><br>
          <a class="dropdown-item" href="#"><%= link_to "New signature type", new_signature_type_path %></a><br>
          <a class="dropdown-item" href="#"><%= link_to "New certificate type", new_certificate_type_path %></a>
          <a class="dropdown-item" href="#"><%= link_to "New reserve type", new_reserve_type_path %></a>
        </div>
      </div>

      <div class="btn-group" role="group">
        <button id="btnGroupDrop1" type="button" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          View Types
        </button>
        <div class="dropdown-menu" aria-labelledby="btnGroupDrop1">
          <a class="dropdown-item" href="#"><%= link_to "View item types", item_types_path %></a><br>
          <a class="dropdown-item" href="#"><%= link_to "View dimension types", dimension_types_path %></a><br>
          <a class="dropdown-item" href="#"><%= link_to "View substrate types", substrate_types_path %></a><br>
          <a class="dropdown-item" href="#"><%= link_to "View edition types", edition_types_path %></a><br>
          <a class="dropdown-item" href="#"><%= link_to "View signature types", signature_types_path %></a><br>
          <a class="dropdown-item" href="#"><%= link_to "View certificate types", certificate_types_path %></a>
          <a class="dropdown-item" href="#"><%= link_to "View reserve types", reserve_types_path %></a>
        </div>
      </div>

      <div class="btn-group" role="group">
        <button id="btnGroupDrop1" type="button" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Artist resource
        </button>
        <div class="dropdown-menu" aria-labelledby="btnGroupDrop1">
          <a class="dropdown-item" href="#"><%= link_to "New artist", new_artist_path %></a><br>
          <a class="dropdown-item" href="#"><%= link_to "View artists", artists_path %></a><br>
          <a class="dropdown-item" href="#"><%= link_to "Search artists" %></a>
        </div>
      </div>

      <div class="btn-group" role="group">
        <button id="btnGroupDrop1" type="button" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Invoice resource
        </button>
        <div class="dropdown-menu" aria-labelledby="btnGroupDrop1">
          <a class="dropdown-item" href="#"><%= link_to "New invoice", new_invoice_path %></a><br>
          <a class="dropdown-item" href="#"><%= link_to "View invoices", invoices_path %></a><br>
          <a class="dropdown-item" href="#"><%= link_to "Search invoices" %></a>
        </div>
      </div>

      <div class="btn-group" role="group">
        <button id="btnGroupDrop1" type="button" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Items resource
        </button>
        <div class="dropdown-menu" aria-labelledby="btnGroupDrop1">
          <a class="dropdown-item" href="#"><%= link_to "Search", new_search_path %></a><br>
          <a class="dropdown-item" href="#"><%= link_to "Edit sku" %></a>
        </div>
      </div>


      <div class="btn-group" role="group">
        <button id="btnGroupDrop1" type="button" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Value Items
        </button>
        <div class="dropdown-menu" aria-labelledby="btnGroupDrop1">
          <a class="dropdown-item" href="#"><%= link_to "Value Items", value_items_path %></a><br>
          <!-- <a class="dropdown-item" href="#"><%#= link_to "Categories", categories_path %></a><br> -->
        </div>
      </div>
    </div>

    <div class="flash">
      <% if flash[:notice] %>
         <div class="alert alert-success">
           <button type="button" class="close" data-dismiss="alert">&times;</button>
           <%= flash[:notice] %>
         </div>
       <% elsif flash.now[:alert] %>
         <div class="alert alert-danger">
           <button type="button" class="close" data-dismiss="alert">&times;</button>
           <%= flash.now[:alert] %>
         </div>
       <% elsif flash[:alert] %>
         <div class="alert alert-warning">
           <button type="button" class="close" data-dismiss="alert">&times;</button>
           <%= flash[:alert] %>
         </div>
       <% end %>
     </div>
    <%= yield %>
  </div>
</div>
</body>
</html>
